ion-card {
  border: 1px solid #E1E1E1; 
  padding: 5px 20px;
  position: relative;
  box-sizing: border-box;
  z-index: 4;

  ion-card-content {
    display: flex;
    flex-direction: column;

    ion-item {
      --border-color: transparent;
    }

    a {
      text-decoration: none;
    }
  }

  .row {
    flex-wrap: wrap;
  }
}
