ion-card {
  width: 145px;
  padding: 8px 0 5px;
  min-height: 63px;
  text-align: center;

  ion-card-content {
    display: flex;
    flex-direction: column;
  }

  ion-icon {
    margin: 10px auto;
    font-size: 25px;
  }
}
