@import '../../styles/variables';

.container-checkbox-button {
  display: block;
  padding: 14px;
  text-align: center;
  font-weight: $semibold;
  border-radius: 4px;
  text-decoration: none;
  font-size: 11px;
  color: #212529;
  background-color: #a2c0be;
  border-color: #a2c0be;
  &:hover {
    background-color: black;
    border-color: $dark-grey;
    cursor: pointer;
  }
  &.checked {
    background: black;
    color: $low-grey;
    border-width: 2px;
  }
}

ion-checkbox{
  background: #FFFFFF;
   border-width: 1px !important;
   border-style: solid !important;
   border-radius: 4px;
   border-color : transparent !important;
   --height : 25px;
   --width: 25px;
   --checkmark-color:transparent !important;
   --background-checked: #FFFFFF;
   --border-color: #FFFFFF;
   --border-color-checked :#FFFFFF;
}