<ion-content>
  <div class="background-header">
    <div class="container">
      <div class="row">
        <div class="col-md-7 align-self-center text-center text-md-left">
          <ion-title>
            <div class="intro-text">
              <h1>We Care For <span class="d-md-block">Your Dog</span></h1>
              <p class="mb-4">Find the best Petsitter<span class="d-block"> for your pet.</span></p>
            </div>
          </ion-title>
        </div>
        <div class="col-md-5 align-self-end text-center text-md-right">
          <img class="img-fluid cover-img" src="/assets/img/dog.png" alt="doggy">
        </div>
        <app-search-toolbar (search)="findSearchResults($event)"></app-search-toolbar>
      </div>
    </div>
  </div>
    
  <div class="container">
    <app-user-card *ngIf="notFoundMessage && !users.length" name='{{notFoundMessage}}'></app-user-card>
    <ion-list *ngFor="let item of users">
      <app-user-card name='{{ item.firstname }}'></app-user-card>
    </ion-list>
  </div>
</ion-content>
